
		/*google colorido*/
		.google1{
			margin-top: 18px;
			font-weight: 99980px;
			font-family: 'Relish Pro', arial;
			font size: 12px; 
			text-align: center;
			}
			
		.frase1{/*Apenas uma conta. Tudo que o Google oferece*/
			font-family: Arial,sans-serif;
			font-size: 38px;
			height: 100%;
			min-width: 100%;
			font-weight:  100;
			}
			
		.frase2{/*Fazer login usando sua Conta do Google*/
			margin-top: 20px;
			font-family: 'Open Sans', arial;
			font-size: 18px;
			font-weight:  100;
			color: gray;
			}
		.divf2{
			margin-top: -10px;
			margin-left: -8px;
			}
			.retangulocentral{
			background-color: #ffffff;
			margin-left: 36%;
			margin-right: 36%;
			margin-bottom: 35%;
			margin-top:12%;
			}

			
		.fundo{/*quadrado por traz do boequinho*/
			margin-top: -150px;
			margin-right: 0px;
			margin-left: 0px;
			margin-bottom:-140px;
			background-color: #f7f7f7;
			width: 356px;
			height: 315px;
			display: inline-center;
			border-bottom-style:outset;
			/*border-style: outset;*/
				}
				 
				
		.img{/* bonequinho do google sem usuario*/
			display: 10px;
			margin-left: 116px;
			margin-top: 10px;
			margin-bottom:10px;
			width: 130px;
			height: 115px;
			display: inline-center;
			}

		/*	campo para digitar o email*/
		.txtemail{
			text-decoration: none;
			box-sizing: border-box;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 14px;
			border: 2px;	
			border-left: 10px;
			border-right: 10px;			
			width: 260px;
			height: 40px;
			}

			/* botao azul proximo */
		.but {
			background-color: #4889f1;
			color: white;
			padding: 10px 20px;
			text-decoration:blink;
			box-sizing: border-box;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 14px;
			border: 0px;			
			width: 260px;
			height: 40px;
			}


		.divemail{
			margin-left: 50px;
			margin-top: 20px;
			}


		.divbot{
			margin-left: 50px;
			margin-top: 4px;
			margin-bottom: 180px;
			}


		.ajuda{
			margin-left: 50px;
			margin-top: 94px;
			margin-bottom: 380px;
			color: blue;
			font-color:blue;
			font-size: 13px;
			text-decoration: none;
			}

		.divajuda{
			margin-left: 150px;
			margin-top: -176px;
			margin-bottom: 10px;				
			}

		.divicria{
			margin-left: 120px;
			margin-top:  60px;
			margin-bottom: 10px;								
			}			

		.cria{
			text-decoration: none;
			color: #427fed;
			font-size: 14px;
			}

		.mensagem{
			font-size: 14px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: -10px;
			font-weight:  100;
			color: gray;
			}

		.imglogos{
			margin-left: 69px;
			margin-bottom: -19px;
			}

		.mensageelogo{
			margin-top: 28px;
			}


