
					

						table{
							border-color: #000000;
							border-style: solid;
							border-width: 5px;
							border-collapse: collapse;
						}
						/* lINHA body */
						tr:nth-child(2n+1){
							background-color: #757575;
							border-color: #999;
							border-style: solid;
							border-width: 2px;
							border-collapse: collapse;

						}


