/* css */

/* Estilo .css */

body{
	background-color: 	#7CFC00;
}

h1{
	text-align: center;
	background-color: #81c784;

	border-color: #00BFA5;
	border-width: 5px;
	border-style: solid;
	margin-left: 650px;
	margin-right: 650px;

}

p{
	background-color: #66CDAA;
	text-indent: 50px;
	text-align: justify;
	margin-left: 250px;
	margin-right: 250px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* ou faz assim padding 10px; ou 
			            padding 10px 20px 30px 40px;*/
	font-size: 20px;
	font-weight: bold;

	font-family: sans-serif,times new roman;
}

	span{
		text-transform: uppercase;
		text-decoration: underline;
		background-color: #cddc39;
	}

	

